html,
body {
  height: 100%;
  background-color: black;
}

.container {
  /*Bootstrap class */
  position: relative;
  height: 100%;
}

header {
  margin-top: 50px;
  margin-bottom: 40px;
  font-size: 63px;
  line-height: 1.1;
  color: #6441A4;
}

#wrap {
  height: auto;
  width: 30%;
  max-width: 250px;
  margin: auto;
}

.list-group-item,
.list-group-item:first-child {
  border-width: thick;
  border-radius: 10%;
  z-index: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  transition: border 0.2s ease-in-out, color 1s, background-color 1s;
}

.list-group-item.interactive:hover {
  border-left: thick solid orange;
  color: grey;
}

.list-group-item.interactive:hover .list-group-item-heading {
  font-weight: bold;
}

.hide-button {
  transition: all 0.5s;
  opacity: 0.6;
  position: absolute;
  top: 5%;
  right: 2%;
  font-size: x-large;
  font-weight: bold;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: #6441a4;
}

.list-group-item.disabled .hide-button {
  opacity: 0.85;
}

.list-group-item .hide-button:hover {
  opacity: 1;
}

.userLabel {
  display: flex;
  align-items: center;
}

.list-group-item-heading {
  font-size: x-large;
  margin-right: 0.5em;
}

.list-group-item-text {
  display: inline-block;
  font-size: large;
}

.userLogo {
  height: auto;
  min-width: 5em;
  width: 12%;
  max-width: 6em;
  display: inline-block;
  vertical-align: middle;
}

.userInfo {
  display: inline-block;
  margin-left: 1.5em;
  padding-right: 2.5em;
  max-width: 80%;
  vertical-align: middle;
}

.userBio {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.stream {
  margin-top: 1em;
  margin-right: 0.5em;
  margin-left: 0.5em;
}

.disabled-text {
  font-style: italic;
  color: grey;
  opacity: 0.7;
}

#toTopDiv {
  margin-top: -20px;
  margin-bottom: 0px;
  font-size: large;
}

.fa-chevron-up {
  color: Indigo;
  position: relative;
  margin-top: -0.35em;
  z-index: 1;
  transition: color 0.5s;
}

.fa-chevron-up:hover {
  color: #6441a4;
}

#addUser {
  position: fixed;
  bottom: 3%;
  right: 3%;
  z-index: 2;
  border-radius: 30px;
  border: solid 4px #6441a4;
  background-color: rgba(0, 0, 0, 0.2);
  color: #6441a4;
  font-size: 4rem;
  width: 60px;
  height: 60px;
  text-align: center;
  opacity: 0.5;
  transition: opacity 0.75s ease-in-out, background-color 0.5s ease-in, width 0.5s ease-in;
  cursor: pointer;
}

#addUser:hover {
  opacity: 0.9;
  background-color: rgba(0, 0, 0, 0.9)
}

#addUser.form {
  width: 300px;
  opacity: 0.9;
  background-color: rgba(0, 0, 0, 0.9)
}

#addUser>form {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-content: center;
}

#newUser {
  position: absolute;
  z-index: -1;
  opacity: 0;
  height: 50px;
  width: 100%;
  margin-left: 10px;
  vertical-align: middle;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-size: 3.5rem;
  line-height: 50px;
  outline: none;
}

#newUser.show {
  transition: all 0.5s;
  position: initial;
  z-index: inherit;
  display: initial;
  opacity: 1;
}

#userSubmit {
  background-color: rgba(0, 0, 0, 0);
  width: 60px;
  height: 100%;
  border: none;
  outline: none;
}

footer {
  position: relative;
  bottom: 0px;
  width: 100%;
  z-index: 0;
}

footer a {
  transition: color 0.5s;
}

a:visited,
a:hover {
  text-decoration: none;
}

@media (hover: hover) {
  .list-group-item.interactive .hide-button {
    visibility: hidden;
    opacity: 0;
  }
  .list-group-item.interactive:hover .hide-button {
    visibility: visible;
    opacity: 0.6;
  }
  .list-group-item.interactive .hide-button:hover {
    opacity: 1;
  }
}